.env
envs/.env.dev

~$my_listings.xlsx
my_listings.xlsx
bedding_categories.csv
~$buyer_listings_*.xlsx
buyer_listings_*.xlsx


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
package.json
package-lock.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sensitive information
credentials.json
config.json
.secrets
*.key

# OS specific
.DS_Store
Thumbs.db

.env
